<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/norpat/Sohu18-103 (1).jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>Keskiajalla saatettiin voita kaivaa röyhkeästi tiinun keskeltä.</h3>
            <h3>Siksi sitä kutsutaankin keskiajaksi.</h3>
        </div>
    </div>
</div>
<div class="main">
    <div class="section-norppa-green text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <br>
                <h2 class="norppa-title">Norpat Tapahtumissa</h2>
                <br>
                <h5 class="norppa-description">Tähän tulee tietoa(kö?) tapahtumista missä norpat on olleet jne? Tai historiikki, tai jotain! :)</h5>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Sohu 2013</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 10</p>
                        <p class="norppa-title str-separator">Norppien ja Riskiretkeläisten liitto. Monen Norpan ensimäinen kerta sotahuudossa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Noxbo 2014</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 3</p>
                        <p class="norppa-title str-separator">Osa Norpista edelleen tukemassa Riskiretkeläisiä</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Sohu 2014</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 10</p>
                        <p class="norppa-title str-separator">Norpat ekaa kertaa täysin omana yksikkönään</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Noxbo 2015</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 8</p>
                        <p class="norppa-title str-separator">Ehdottomasti yksi hauskimpia tapahtumia Norppien historian osalta.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Sohu 2015</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 10</p>
                        <p class="norppa-title str-separator">Norppien ja Riskiretkeläisten liitto. Monen Norpan ensimäinen kerta sotahuudossa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Sohu 2016</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 3</p>
                        <p class="norppa-title str-separator">Osa Norpista edelleen tukemassa Riskiretkeläisiä</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Norppafeast</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 10</p>
                        <p class="norppa-title str-separator">Norpat ekaa kertaa täysin omana yksikkönään</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h3 class="norppa-title">Sohu 2017</h3>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 8</p>
                        <p class="norppa-title str-separator">Ehdottomasti yksi hauskimpia tapahtumia Norppien historian osalta.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div>
                            <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                        </div>
                        <div class="description str-separator">
                            <h3 class="norppa-title">Sohu 2018</h3>
                            <p class="btn norppa-blue norppa-str-upcoming">TULOSSA</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div>
                            <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                        </div>
                        <div class="description str-separator">
                            <h3 class="norppa-title">InKa-treenileiri</h3>
                            <p class="btn norppa-blue norppa-str-upcoming">TULOSSA</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <div class="row">
            <div class="mr-auto ml-auto">
                <h1 class="norppa-title">Sotahuuto</h1>
                <br>
                <h5 class="norppa-description">Sotahuuto on vuoden suurin boffaustapahtuma, jossa yhdistyy urheilu, historian elävoityminen, taisteluhenki, leiriytyminen, strategia ja pelimekaniikkojen/sääntöjen muokkaus omiin tarpeisiin.</h5>
                <h5 class="norppa-description">Norpat osallistuvat toistuvasti Sotahuutoon, jossa viimeisen vuoden harjoittelun tulokset nähdään.</h5>
                <br>
            </div>
            <div class="col-md-4">
                <youtube-player
                    [videoId]="id_SH14"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                ></youtube-player>
            </div>
            <div class="col-md-4">
                <youtube-player
                    [videoId]="id_SH16"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                ></youtube-player>
            </div>
            <div class="col-md-4">
                <youtube-player
                    [videoId]="id_SH14_hl"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                ></youtube-player>
            </div>
        </div>
    </div>
</div>
    
<div class="section-norppa-green landing-section ">
    <div class="container">
        <div class="mr-auto ml-auto text-center">
            <h1 class="norppa-title">Boffaus</h1>
            <br>
        </div>
        <div class="row">
            <div class="col-md-4">
                <youtube-player
                    [videoId]="id_BF"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                ></youtube-player>
            </div>
            <div class="col-md-8">
                <div class="mr-auto ml-auto">
                    <h5 class="norppa-description">Boffaus on pehmoasetaistelua, jossa harjoitellaan käyttämään sääntöjen mukaisesti pehmustettuja aseita.</h5>
                    <br>
                    <h5 class="norppa-description">Useimmiten harrastaminen tapahtuu kesäisin ulkona ja talvella sisätiloissa.</h5>
                    <br>
                    <h5 class="norppa-description">Youtubesta löytyy kanava (<a href="https://www.youtube.com/channel/UC7mxgJQ-bzaj061Gqb5iX8g">Boffaajan Käsikirja</a>), josta löytyy perustietoa boffaukselle ominaisista tekniikoista käyttäen eri aseita. </h5>
                    <h5 class="norppa-description"> <a href="https://fi.wikipedia.org/wiki/Boffaus">Täältä(Wikipedia)</a> voit käydä katsomassa yleistä tietoa boffauksesta</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-dark text-center">
    <div class="container">
        <h1 class="norppa-title">Miksi? Kuinka liittyä mukaan toimintaan?</h1>
        <div class="row">
            <div class="col-md-8">
                
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/norpat/samitahka.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sampsoni</h4>
                                <h6 class="card-category">Tiimiliidu</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Minut tavoittaa Facebookista tai mailitse
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-norppa-green landing-section ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center norppa-title">Norppien palautelammikko</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="norppa-title">Nimi</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-single-02"></i>
                                </span>
                                <input type="text" class="form-control norppa-placeholder" placeholder="Nimi tähän">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="norppa-title">Maili</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                                <input type="text" class="form-control norppa-placeholder" placeholder="Maili tähän">
                            </div>
                        </div>
                    </div>
                    <label class="norppa-title">Viesti</label>
                    <textarea class="form-control norppa-placeholder" rows="4" placeholder="Mitäs mussutettavaa siulla olisi?"></textarea>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button class="btn norppa-blue norppa-str">Lähetä</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
