<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/norpat/Sohu18-103 (1).jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>Keskiajalla saatettiin voita kaivaa röyhkeästi tiinun keskeltä.</h3>
            <h3>Siksi sitä kutsutaankin keskiajaksi.</h3>
        </div>
    </div>
</div>
<div class="main">
    <div class="section-norppa-green text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <br>
                <h2 class="norppa-title">Norpat Tapahtumissa</h2>
                <br>
                <h5 class="norppa-description">Tähän tulee tietoa(kö?) tapahtumista missä norpat on olleet jne? Tai historiikki, tai jotain! :)</h5>
                <br>
                <a href="#paper-kit" class="btn norppa-blue btn-round">Joku mahdollinen linkki tarkempaan kuvaukseen</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h4 class="norppa-title">SoHu -14</h4>
                        <p class="norppa-title">Norppien ensimäinen Sotahuuto. Aika niheetä menoa, mutta intoa riitti</p>
                        <br>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 20</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h4 class="norppa-title">SoHu -14</h4>
                        <p class="norppa-title">Norppien ensimäinen Sotahuuto. Aika niheetä menoa, mutta intoa riitti</p>
                        <br>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 20</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h4 class="norppa-title">SoHu -14</h4>
                        <p class="norppa-title">Norppien ensimäinen Sotahuuto. Aika niheetä menoa, mutta intoa riitti</p>
                        <br>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 20</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="./assets/img/norpat/sh2014.jpg" class="norppa-event-logo btn-round" alt="...">
                    </div>
                    <div class="description">
                        <h4 class="norppa-title">SoHu -14</h4>
                        <p class="norppa-title">Norppien ensimäinen Sotahuuto. Aika niheetä menoa, mutta intoa riitti</p>
                        <br>
                        <p class="btn norppa-blue norppa-str">Vahvuus: 20</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/norpat/samitahka.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sampsoni</h4>
                                <h6 class="card-category">Tiimiliidu</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Kasailen joka vuosi porukan SoHuun ja järjestän yhteisiä shettejä
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/norpat/samitahka.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sampsoni</h4>
                                <h6 class="card-category">Tiimiliidu</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Kasailen joka vuosi porukan SoHuun ja järjestän yhteisiä shettejä
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/norpat/samitahka.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sampsoni</h4>
                                <h6 class="card-category">Tiimiliidu</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Kasailen joka vuosi porukan SoHuun ja järjestän yhteisiä shettejä
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section-norppa-green landing-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center norppa-title">Norppien palautelammikko</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="norppa-title">Nimi</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control norppa-placeholder" placeholder="Nimi tähän">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="norppa-title">Maili</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control norppa-placeholder" placeholder="Maili tähän">
                                </div>
                            </div>
                        </div>
                        <label class="norppa-title">Viesti</label>
                        <textarea class="form-control norppa-placeholder" rows="4" placeholder="Mitäs mussutettavaa siulla olisi?"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn norppa-blue norppa-str">Lähetä</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
